<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xygnx134gmail.twitterclientforandroidkotlin">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:name=".TwitterClientForAndroidKotlinApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignInActivity"/>
        <activity android:name=".Activity.TimelineActivity"/>
        <activity android:name=".Activity.PostTweetActivity"/>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="4c34cacf59ed4d43f5bbaffa4314457b28edcd7a" />
    </application>

</manifest>